@media screen and (max-width: 356px) {
  body {
    background-color: rgb(227, 228, 232);
  }
  nav {
    width: 400px;
  }
  nav ul {
    height: 25px;
    font-size: 15px;
  }
  nav ul li {
    padding-right: 1px;
    font-weight: normal;
  }
  .brand img {
    width: 25px;
  }
  .brand {
    font-size: 13px;
  }
  .songList h1 {
    font-size: 15px;
  }
  .songItem img {
    width: 40px;
    height: 30px;
  }
  .songItem span {
    font-size: 14px;
    border: none;
  }
  .songInfo img {
    margin-top: 332px;
    margin-bottom: 34px;
    margin-left: 95px;
    margin-right: 5px;
    height: 81px;
    width: 96px;
  }
  .bottom .songInfo span {
    margin-top: 5px;
  }
  .bottom {
    height: 140px;
  }
  
  #myProgressBar {
   cursor: pointer;
 }

}
